main {
    width: 1000px;
    margin: auto;
}

footer {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}