---
import {getCollection} from "astro:content";
import Layout from "@components/Layout.astro";
import {DESCRIPTION, TITLE} from "../../consts";
const posts = (await getCollection('post'));
const categories = [...new Set(posts.map((p) => p.data.categories).flat())]
---

<Layout title={'分类 - ' + TITLE} description={DESCRIPTION}>
  <div class="w-2/5 md:w-auto w-full">
    {categories.map((category) => {
      category = category.toLowerCase();
      return <a href={`/categories/${category}`} class="join-item btn btn-outline">{category}</a>;
    })}
  </div>
</Layout>