---
import Layout from "../components/Layout.astro";
import {TITLE} from "../consts";
---
<Layout title={'发生 404 错误，页面未找到！ - ' + TITLE}>
  <div class="lg:w-2/5 md:w-auto">
    <h1 class="error-emoji"></h1>
    <p>/* 发生 404 错误，页面未找到！ */</p>
    <p><a href="/">↑ 回到主页 ↑</a></p>
  </div>
</Layout>
<script>
  var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  var emojiArray = [
    '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/',
  ];
  var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
</script>