---
import Layout from "@components/Layout.astro";
import {TITLE, DESCRIPTION} from '@consts';
---

<Layout title={'关于 - ' + TITLE} description={DESCRIPTION}>
  <div class="lg:w-2/5 md:w-auto">
    <img src="/avatar.webp" alt="avatar"/>
    <h2>Email：<a href="mailto:sulinehk@gmail.com" class="link link-primary">sulinehk@gmail.com</a></h2>
    <h2>RSS：<a href="/rss.xml" class="link link-primary">sulinehk.com/rss.xml</a></h2>
    <h2>GitHub：<a href="https://github.com/linehk" class="link link-primary">github.com/linehk</a></h2>
    <h2>LinkedIn：<a href="https://www.linkedin.com/in/linehk/" class="link link-primary">linkedin.com/in/linehk/</a>
    </h2>
    <h2>Upwork：<a href="https://www.upwork.com/freelancers/~01d1776a66e3a04451" class="link link-primary">upwork.com/freelancers/~01d1776a66e3a04451</a>
    </h2>
    <h2>Buy Me a Coffee：<a href="https://ko-fi.com/sulinehk" class="link link-primary">ko-fi.com/sulinehk</a>
    </h2>
    <h2>爱发电：<a href="https://afdian.net/a/sulinehk" class="link link-primary">afdian.net/a/sulinehk</a>
    </h2>
  </div>
</Layout>