---
const {heading} = Astro.props;
---
<li>
  <a href={'#' + heading.slug} class="link link-primary">
    {heading.text}
  </a>
  {heading.subheadings.length > 0 && (
    <ul>
      {heading.subheadings.map((subheading: any) => (
        <Astro.self heading={subheading}/>
      ))}
    </ul>
  )}
</li>